Import modules

In [33]:
pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.0.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [34]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.metrics import log_loss
from sklearn.model_selection import train_test_split

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Load dataset

In [36]:
dataset=pd.read_csv('dataset.csv')

Data visualisation

In [37]:
dataset.head(10)

   age  sex  cp trestbps chol fbs  ... exang oldpeak slope ca thal num
0   63    1   4      140  260   0  ...     1       3     2  ?    ?   2
1   44    1   4      130  209   0  ...     0       0     ?  ?    ?   0
2   60    1   4      132  218   0  ...     1     1.5     3  ?    ?   2
3   55    1   4      142  228   0  ...     1     2.5     1  ?    ?   1
4   66    1   3      110  213   1  ...     1     1.3     2  ?    ?   0
5   66    1   3      120    0   0  ...     0    -0.5     1  ?    ?   0
6   65    1   4      150  236   1  ...     1       0     ?  ?    ?   3
7   60    1   3      180    0   0  ...     1     1.5     2  ?    ?   0
8   60    1   3      120    0   ?  ...     1       2     1  ?    ?   3
9   60    1   2      160  267   1  ...     0     0.5     2  ?    ?   1

[10 rows x 14 columns]

In [38]:
dataset['age']

0       63
1       44
2       60
3       55
4       66
        ..
1111    54
1112    62
1113    55
1114    58
1115    62
Name: age, Length: 1116, dtype: int64

In [39]:
dataset.describe()

               age          sex           cp          num
count  1116.000000  1116.000000  1116.000000  1116.000000
mean     54.582437     0.820789     3.300179     1.090502
std       9.375926     0.383701     0.908574     1.174413
min      29.000000     0.000000     1.000000     0.000000
25%      48.000000     1.000000     3.000000     0.000000
50%      55.000000     1.000000     4.000000     1.000000
75%      61.000000     1.000000     4.000000     2.000000
max      77.000000     1.000000     4.000000     4.000000

In [40]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116 entries, 0 to 1115
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1116 non-null   int64
 1   sex       1116 non-null   int64
 2   cp        1116 non-null   int64
 3   trestbps  1116 non-null   object
 4   chol      1116 non-null   object
 5   fbs       1116 non-null   object
 6   restecg   1116 non-null   object
 7   thalach   1116 non-null   object
 8   exang     1116 non-null   object
 9   oldpeak   1116 non-null   object
 10  slope     1116 non-null   object
 11  ca        1116 non-null   object
 12  thal      1116 non-null   object
 13  num       1116 non-null   int64
dtypes: int64(4), object(10)
memory usage: 122.2+ KB

In [41]:
dataset.value_counts()

age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  num
58   1    3   150       219   0    1        118      1      0        ?      ?   ?     2      4
57   1    4   140       214   0    1        144      1      2        2      ?   6     2      2
62   1    4   120       220   0    1        86       0      0        ?      ?   ?     0      2
63   0    2   ?         0     0    0        ?        ?      ?        ?      ?   ?     0      2
40   1    4   125       0     1    0        165      0      0        ?      ?   7     1      2
                                                                                            ..
56   1    3   130       256   1    2        142      1      0.6      2      1   6     2      1
              125       0     ?    0        98       0      -2       2      ?   7     2      1
              120       0     0    0        97       0      0        2      ?   7     0      1
          2   130       221   0    2        163      0      0        1      0   7     0      1
29   1    2   120       243   0    0        160      0      0        ?      ?   ?     0      1
Length: 915, dtype: int64

Data Pre-processing

In [43]:
dataset.replace("?", np.nan, inplace = True)

In [44]:
dataset.head(100)

    age  sex  cp trestbps chol fbs  ... exang oldpeak slope   ca thal num
0    63    1   4      140  260   0  ...     1       3     2  NaN  NaN   2
1    44    1   4      130  209   0  ...     0       0   NaN  NaN  NaN   0
2    60    1   4      132  218   0  ...     1     1.5     3  NaN  NaN   2
3    55    1   4      142  228   0  ...     1     2.5     1  NaN  NaN   1
4    66    1   3      110  213   1  ...     1     1.3     2  NaN  NaN   0
..  ...  ...  ..      ...  ...  ..  ...   ...     ...   ...  ...  ...  ..
95   63    1   4      160  267   1  ...     1       2   NaN  NaN  NaN   3
96   35    1   3      NaN  161   0  ...   NaN     NaN   NaN  NaN  NaN   0
97   62    1   1      112  258   0  ...     1     NaN   NaN  NaN  NaN   1
98   43    1   4      122    0   0  ...     0     0.5     1  NaN  NaN   1
99   63    1   3      130    0   1  ...     0       3     2  NaN  NaN   0

[100 rows x 14 columns]

In [45]:
for column in dataset.columns:
    dataset[column].fillna(dataset[column].mode()[0], inplace=True)

In [46]:
dataset.head(100)

    age  sex  cp trestbps chol fbs  ... exang oldpeak slope ca thal num
0    63    1   4      140  260   0  ...     1       3     2  0    7   2
1    44    1   4      130  209   0  ...     0       0     2  0    7   0
2    60    1   4      132  218   0  ...     1     1.5     3  0    7   2
3    55    1   4      142  228   0  ...     1     2.5     1  0    7   1
4    66    1   3      110  213   1  ...     1     1.3     2  0    7   0
..  ...  ...  ..      ...  ...  ..  ...   ...     ...   ... ..  ...  ..
95   63    1   4      160  267   1  ...     1       2     2  0    7   3
96   35    1   3      120  161   0  ...     0       0     2  0    7   0
97   62    1   1      112  258   0  ...     1       0     2  0    7   1
98   43    1   4      122    0   0  ...     0     0.5     1  0    7   1
99   63    1   3      130    0   1  ...     0       3     2  0    7   0

[100 rows x 14 columns]

Divide into training and test set

In [47]:
y = dataset['num']
X = dataset.drop(['num'], axis = 1)
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.33, random_state = 0)

Apply logistic regression

In [48]:
model = LogisticRegression()

In [49]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Prediction and accuracy check

In [50]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [51]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.5435073627844712

In [52]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [53]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.5013550135501355

Resultant output

In [54]:
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)
input_data_as_numpy_array= np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
prediction = model.predict(input_data_reshaped)
print(prediction)
if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"